<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{judulku}</title>

    <meta name="author" content="{x_author}">
	<meta name="description" content="{x_description}">
	<meta name="url" content="{x_url}">
	<meta name="keywords" content="{x_keywords}">
	
	<meta property="og:title" content="{judul}"/>
	<meta property="og:type" content="website"/>
	<meta property="og:description" content="{judul}"/>
	<meta property="og:url" content="{ke}"/>
	<meta property="og:site_name" content="{sek_nama}"/>


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../template/flexor/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../../template/flexor/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../template/flexor/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../../template/flexor/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../../template/flexor/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../template/flexor/assets/css/style.css" rel="stylesheet">
  
  
  
  


<style>
.badge.badge-success{
 background-color: red;
 position: absolute; 
 top: -5px;
 right: -5px;
}
</style>
  
  



</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <ul>
          <li><i class="icofont-envelope"></i>{sek_nama}</li>
        </ul>

      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="../../egr/index.php"><span>GURU</span></a></h1>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="../../egr/index.php">BERANDA</a></li>
          
          <li class="drop-down"><a href="#">SETTING</a>
            <ul>
              <li><a href="../../egr/s/profil.php">GANTI PROFIL</a></li>
              <li><a href="../../egr/s/pass.php">GANTI PASSWORD</a></li>
            </ul>
          </li>
          
          <li><a href="../../egr/s/inbox.php">INBOX <span class="badge badge-success">{isiprofil}</span></a></li>
          
          <li><a href="../../egr/s/logs.php">LOG</a></li>
          
          <li><a href="../../logout.php">KELUAR</a></li>
          
          
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->




  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-12 col-md-12 footer-contact">
       
       
	       <form action="{filenya}" enctype="multipart/form-data" method="post" name="formx">
   		
        	    {isi}
        	    
	        </form>
    
    
            
          </div>


        </div>
      </div>
    </div>

    <div class="container d-lg-flex py-4">

      <div class="mr-lg-auto text-center text-lg-left">
        <div class="copyright">
          &copy; 2020 <strong><span>{versi}</span></strong>.
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>



	 <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../../template/css/bootstrap.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="../../template/css/font-awesome.min.css">
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700">
    
    




<!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="../../template/adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../template/adminlte/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="../../template/adminlte/bower_components/Ionicons/css/ionicons.min.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="../../template/adminlte/bower_components/jvectormap/jquery-jvectormap.css">
  
  
  



  
  


<!-- jQuery 3 -->
<script src="../../template/adminlte/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap 3.3.7 -->
<script src="../../template/adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- AdminLTE App -->
<script src="../../template/adminlte/dist/js/adminlte.min.js"></script>



<!-- Bootstrap core JavaScript -->
<script src="../../template/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

<!-- Bootstrap core CSS -->
<link href="../../template/vendor/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet">



<!-- ChartJS -->
<script src="../../template/adminlte/bower_components/chart.js/Chart.js"></script>


    



  <!-- Theme style -->
  <link rel="stylesheet" href="../../template/adminlte/dist/css/AdminLTE.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="../../template/adminlte/dist/css/skins/skins-biasawae.css">








  <!-- Vendor JS Files -->
  <script src="../../template/flexor/assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../template/flexor/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../template/flexor/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../../template/flexor/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../template/flexor/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="../../template/flexor/assets/vendor/venobox/venobox.min.js"></script>
  <script src="../../template/flexor/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../../template/flexor/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../template/flexor/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../../template/flexor/assets/js/main.js"></script>

</body>

</html>